.a{
    height: 100px;
    width:100;
    border-radius: 50%;
    background-color: chartreuse;
    
}
body:hover{
    background-color: green;
}
.c{
    color: brown;
}
body{
    background-color: cornflowerblue;
}
.a:hover{
    transform: scale(1.5);
}

