body{
    padding: 25px;
  }
  .title {
      color: #5C6AC4;
  }
  .heading
  {
  color:#3440eb;
  }
  .sub
  {
  
  color:#db121f;
  }
  
  .p3
  {
  background-color: green;
  }
  .shiv
  {
  background-color: red;
  }